*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}
body{
    font-family:  'Roboto',sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.app{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-left: 1px solid #eee;
    border: 2pxsolid #eee3
}